<h5> Enter details: </h5>

<%= form_tag('/items/save_user_details', method: 'post') do %>
    &nbsp;  <%= label_tag(:name, 'Enter name') %>
    <div class="row">
      <div class="col s6">
        <%= text_field_tag :name, nil, name: 'name', :placeholder => 'your name' %>
      </div>
    </div>

    &nbsp;  <%= label_tag(:address, 'Enter address') %>
    <div class="row">
      <div class="col s12">
        <%= text_field_tag :address, nil, name: 'address', :placeholder => 'your address' %>
      </div>
    </div>

    &nbsp;  &nbsp;
    <%= submit_tag('Proceed for Payment', :id=> 'payment_button', :class=> 'btn waves-effect waves-light', :name=> 'submit') %>
<% end %>