<!DOCTYPE html>
<html>
<head>
  <title>WebFoodApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Food Web App</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li> <%= link_to 'Food items', items_index_path, :id => 'Items' %> </li>
      <li> <%= link_to 'Cart', items_cart_path, :id => 'cart' %> </li>
    </ul>
  </div>
</nav>

<body>

<%= yield %>

</body>
</html>
